body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
}

.product.title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.price {
}
